.cart
  %h1 Carrinho
  - if @cart.errors.any?
    .alert.alert-error.text-left
      %a.close{ 'data-dismiss' => 'alert' }
        %i.icon-remove
      = raw @cart.errors.join

  -if @cart.sellables.any?
    = render 'cart_table'
  -else
    %div
      %p{ style: 'display: inline;' } Seu carrinho esta vazio, visite nossa
      %a{ href: products_path, style: 'display: inline;' } loja
      %p{ style: 'display: inline;' } .