.container-fluid
  .row-fluid
    .span3
      .well
        %ul.nav.nav-pills.nav-stacked
          %li.nav-header Perfil
          %li
            = link_to 'Dados Pessoais', 'settings', remote: true, :id => 'profile'
          %li
            = link_to 'Social'
          %li
            = link_to 'Trocar a Senha'
          %li.nav-header Conta
          %li
            = link_to 'Deletar Conta'

    %div

    .span9
      .well
        #settings_body