.container#update_response
  .alert.hide
    %a.close{ 'data-dismiss' => 'alert' } x
  
.container-fluid
  .row-fluid
    .span3
      .well
        %ul.nav.nav-pills.nav-stacked
          %li.nav-header Perfil
          %li
            = link_to 'Dados Pessoais', 'settings?from=profile',  remote: true
          %li
            = link_to 'Social', 'settings?from=social',           remote: true
          %li
            = link_to 'Trocar a Senha', 'settings?from=password', remote: true
          %li.nav-header Conta
          %li
            = link_to 'Deletar Conta', 'settings?from=delete',    remote: true

    %div

    .span9
      .well
        #settings_body