%a.brand{ :href => '#' } My-Auth
%ul.nav.pull-left
  %li
    %a{ :href => '#' } Como Funciona
  %li
    %a{ :href => '#' } Planos
%ul.nav.pull-right
  %li
    %a{ :href => '#' } Entrar
  %li
    %a{ :href => '#' } Me cadastrar
