- if current_user && current_user.admin?
  = render 'new'

%h1 Blog
- @posts.each do |post|
  = render post
= will_paginate(@posts, previous_label: 'Mais novos',
                        next_label: 'Mais antigos',
                        class: 'pagination pagination-centered')